# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/venv

# production
/build
/financial_control/deploy/static/CACHE

# python
*.pyc

# scripts
*.sh

# static
/financial_control/static
# *.ofx
# *.json

#node
/node_modules