{% extends 'base.html' %}

{% load static %}

{% block main %}

<div class="row">
  <div class="col-md-12">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h4>Categories</h4>
        <a class="btn btn-outline-primary" href="{% url 'category_new' %}">+</a>
      </div>
      <div class="card-body">
        {% if categories %}
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <h5>Expense</h5>
              <tbody>
                {% for category in categories %}

                {% include 'category/category_table_item.html' with category=category %}

                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="col-md-6">
            <table class="table">
              <h5>Income</h5>
              <tbody>
                {% for category in categories %}

                {% include 'category/category_table_item.html' with category=category %}

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% else %}
        <div style="display: flex; justify-content: center;">
          <h6>No data found</h6>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock main %}