{% extends 'base.html' %}

{% load static %}

{% block main %}

<div class="row">
  <div class="col-md-12">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h4>Categories</h4>
        <a class="btn btn-outline-primary" href="{% url 'category_new' %}">+</a>
      </div>
      <div class="card-body">
        {% if categories %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col">Movement type</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
            <tr class="table-item-link" data-href="{% url 'category_form' category.id %}">
              <th scope="row">{{ category.id }}</th>
              <td>{{ category.description }}</td>
              <td>{{ category.get_status_label }}</td>
              <td>{{ category.get_movement_type_label }}</td>
            </tr>
            {% endfor  %}
          </tbody>
        </table>
        {% else %}
        <div style="display: flex; justify-content: center;">
          <h6>No data found</h6>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock main %}