{% extends 'base.html' %}

{% load static %}

{% block main %}

{% include 'includes/transaction/list.html' with transactions=transactions show_new_button=True %}

{% if transactions.has_other_pages %}
<nav aria-label="...">
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item {% if not transactions.has_previous %}disabled{% endif %}">
      <a class="page-link" href="?page={{ users.previous_page_number }}" aria-label="Anterior">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Anterior</span>
      </a>
    </li>

    {% for i in transactions.paginator.page_range %}
    <li class="page-item {% if transactions.number == i %}active{% endif %}">
      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endfor %}

    <li class="page-item {% if not transactions.has_next %}disabled{% endif%}">
      <a class="page-link" href="?page={{ transactions.next_page_number }}" aria-label="Próximo">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Próximo</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}

{% endblock main %}