{% extends ajax|yesno:'base_ajax.html,base.html' %}

{% load static %}

{% block main %}

<h1>Transaction form</h1>

{% url 'transaction_delete' id as delete_url %}

<!-- Modal -->
{% include 'includes/bootstrap_modal_delete.html' with delete_url=delete_url title='Delete' message='Are you sure you want to delete this transaction?' %}

<form method="post" action="{{ url_post }}?reverse_url={{ reverse_url }}">
  {% csrf_token %}

  {% include 'includes/bootstrap_form.html' with form=form %}

  <button type="submit" class="btn btn-primary">Save</button>
  {% if not ajax %}
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">Delete</button>
  {% endif %}

</form>

{% endblock main %}