{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />

  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/financial_control.scss' %}" />
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/datepicker.scss' %}" />
  {% endcompress %}

  <script src="https://kit.fontawesome.com/417f08d9c2.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />

  {% block css %}
  {% endblock css %}

  <title>Financial Control</title>
</head>

<body>
  <div class="wrapper">

    <ul class="sidebar">
      <div class="sidebar-header">
        <a href="{% url 'dashboard' %}" style="color: inherit;"><i class="fas fa-tenge fa-3x"></i></a>
      </div>

      {% include 'includes/components/sidebar/sidebar_item.html' with url='dashboard' icon='fa-tachometer-alt' description='Dashboard' %}
      {% include 'includes/components/sidebar/sidebar_item.html' with url='account_list' icon='fa-wallet' description='Accounts' %}
      {% include 'includes/components/sidebar/sidebar_item.html' with url='category_list' icon='fa-tag' description='Categories' %}
      {% include 'includes/components/sidebar/sidebar_item.html' with url='transaction_list' icon='fa-money-bill-alt' description='Transactions' %}
    </ul>

    <!-- <div class="container-fluid content"> -->

    <div class="datepicker">
      <input type="text" class="form-control" id="datepicker">

      <div class="calendar">
        <table>
          <thead>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <!-- <section class="main">
        <div class="user">
          <img src="img/avatar.png">
          <h5>Sheldon Cooper <small>Chief Theory Officer</small></h5>
          <ul>
            <li><a href="index.html">Follow</a></li>
            <li><a href="index.html">View Profile</a></li>
            <li><a href="index.html">Direct Message</a></li>
            <li class="sep">Joined: March 9, 2012</li>
          </ul>
        </div>
      </section> -->


    {% comment %} {% block main %}
    {% endblock %} {% endcomment %}

    <!-- </div> -->
  </div>

  <script type="module" src="{% static 'js/financial_control.js' %}"></script>
  <script type="module" src="{% static 'js/datepicker.js' %}"></script>

  {% block script %}
  {% endblock %}

</body>

</html>