{% extends 'base.html' %}

{% load static %}

{% block main %}

<!-- Modal -->
{% include 'includes/bootstrap_modal.html' with modal_id='modal-dashboard' %}

<!-- Filter -->
<div class="row">
  <div class="form-group">
    <label for="initial_date">Initial date:</label>
    <input type="date" name="initial_date" class="form-control" required="" id="initial_date" value="2020-01-01"
      required>
  </div>
  <div class="form-group">
    <label for="finish_date">Finish date:</label>
    <input type="date" name="finish_date" class="form-control" required="" id="finish_date" value="2020-01-31" required>
  </div>
  <div style="display: flex; align-items: center; justify-content: center;">
    <button type="button" class="btn btn-primary" id="button-filter">Filter</button>
    <button type="button" class="btn btn-warning" id="button-clear">Clear</button>
  </div>
</div>

<!-- Tables -->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h4>Accounts</h4>
      </div>
      <div class="card-body">
        <table class="table" id="table-accounts">

        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h4>Transactions</h4>
        <button class="btn btn-outline-primary" id="button-new-transaction"
          data-href="{% url 'transaction_new' %}?ajax=true&next=dashboard" data-toggle="modal"
          data-target="#modal-dashboard" data-modal-title="Transactions">+</button>

      </div>
      <div class="card-body">
        <table class="table" id="table-transactions">

        </table>
      </div>
    </div>
  </div>
</div>

{% endblock main %}

{% block script %}
<script type="module" src="{% static 'js/accounts_statment.js' %}"></script>
{% endblock script %}