{% extends 'base.html' %}

{% load static %}

{% load tags %}

{% block main %}

<!-- Modal -->
{% include 'includes/bootstrap_modal.html' with modal_id='modal-dashboard' %}


<!-- Filter -->
<div class="container-fluid" id="filter">

  <!-- Years -->
  <div class="btn-group btn-group-toggle" data-toggle="buttons" id="filter-year">
    {% for year in years %}
    <label class="btn btn-primary">
      <input type="radio" name="options" autocomplete="off" id="year-{{ year }}" data-year="{{ year }}">{{ year }}
    </label>
    {% endfor %}
  </div>

  <!-- Months -->
  <div class="btn-group btn-group-toggle" data-toggle="buttons" id="filter-month">
    {% for month in months %}
    <label class="btn btn-primary">
      <input type="radio" name="options" autocomplete="off" id="month-{{ month|lpadzero:'02'}}"
        data-month="{{ month|lpadzero:'02' }}">{{ month|lpadzero:"02" }}
    </label>
    {% endfor %}
  </div>

  <!-- Description -->
  <div>
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="filter-description">
    <button class="btn btn-outline-primary" id="filter-description-button">Search</button>
  </div>

  <!-- Years Dropdown -->
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="filter-year-dropdown" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">Years</button>
    <div class="dropdown-menu" aria-labelledby="filter-year-dropdown">
      {% for year in years %}
      <a class="dropdown-item" href="#" id="year-dropdown-{{ year|lpadzero:'2' }}">{{ year|lpadzero:'2' }}</a>
      {% endfor %}
    </div>
  </div>

  <!-- Months Dropdow -->
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="filter-month-dropdown" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">Months</button>
    <div class="dropdown-menu" aria-labelledby="filter-month-dropdown">
      {% for month in months %}
      <a class="dropdown-item" href="#" id="month-dropdown-{{ month|lpadzero:'2' }}">{{ month|lpadzero:'2' }}</a>
      {% endfor %}
    </div>
  </div>


</div>

<!-- Tables -->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h4>Accounts</h4>
      </div>
      <div class="card-body">
        <table class="table" id="table-accounts">
          {% for account in accounts %}
          <tr>
            <th>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="{{account.id}}" checked>
                <label class="custom-control-label" for="{{account.id}}">{{account.description}}</label>
              </div>
            </th>
            <td>{{account.value}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h4>Month Balance</h4>
      </div>
      <div class="card-body">
        <table class="table" id="table-month-balances">

        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8"> -->
  <div class="col">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h4>Transactions</h4>
        <button class="btn btn-outline-primary" id="button-new-transaction"
          data-href="{% url 'transaction_new' %}?ajax=true&next=dashboard" data-toggle="modal"
          data-target="#modal-dashboard" data-modal-title="Transactions">+</button>

      </div>
      <div class="card-body">
        <table class="table" id="table-transactions">

        </table>
      </div>
    </div>
  </div>
</div>

{% endblock main %}

{% block script %}
<script type="module" src="{% static 'js/accounts_statment.js' %}"></script>
<script>
  $('.toast').toast('show')
</script>
{% endblock script %}