{% extends 'base.html' %}

{% load static %}

{% load tags %}

{% block main %}

<!-- Modal -->
{% include 'includes/bootstrap_modal.html' with modal_id='modal-dashboard' %}


<!-- Filter -->
<div class="container-fluid filter shadow p-4 mb-4 bg-white rounded">
  <buton class="btn btn-primary" id="calendar-prior">&larr;</buton>
  <input type="month" id="calendar">
  <buton class="btn btn-primary" id="calendar-next">&rarr;</buton>

  <!-- Description -->
  <input type="search" placeholder="Search" aria-label="Search" id="filter-description">
  <button class="btn btn-outline-primary" id="filter-description-button">Search</button>
</div>

<!-- Tables -->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h4>Accounts</h4>
      </div>
      <div class="card-body">
        <table class="table" id="table-accounts">
          <thead>
            <tr>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
            <tr>
              <th>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="{{account.id}}" checked>
                  <label class="custom-control-label" for="{{account.id}}">
                    <h5>
                      <span class="badge badge-{{account.get_color_label|lower}}">{{account.description}}</span>
                    </h5>
                  </label>
                </div>
              </th>
              <td>{{account.value}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h4>Month Balance</h4>
      </div>
      <div class="card-body">
        <table class="table" id="table-month-balances">

        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8"> -->
  <div class="col">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h4>Transactions</h4>
        <!-- Exemplo de botão danger dividido -->
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary" id="button-new-transaction"
            data-href="{% url 'transaction_new' %}?ajax=true&next=dashboard" data-toggle="modal"
            data-target="#modal-dashboard" data-modal-title="Transactions">+</button>
          <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button type="button" class="btn dropdown-item" id="button-new-transfer"
              data-href="{% url 'transfer_new' %}?ajax=true&next=dashboard" data-toggle="modal"
              data-target="#modal-dashboard" data-modal-title="Transfer">Transfer</button>
          </div>
        </div>
        <!-- <button class="btn btn-outline-primary" id="button-new-transaction"
          data-href="{% url 'transaction_new' %}?ajax=true&next=dashboard" data-toggle="modal"
          data-target="#modal-dashboard" data-modal-title="Transactions">+</button> -->

      </div>
      <div class="card-body">
        <table class="table" id="table-transactions">

        </table>
      </div>
    </div>
  </div>
</div>

{% endblock main %}

{% block script %}
<script type="module" src="{% static 'js/accounts_statment.js' %}"></script>
{% endblock script %}