{% extends ajax|yesno:'base_ajax.html,base.html' %}

{% load static %}

{% block main %}

<div {% if not ajax %}class="container-fluid bg-white p-4" {% endif %}>
  <h1>Credit Card form</h1>

  <form method="post" novalidate>
    {% csrf_token %}

    {% include 'includes/bootstrap_form.html' with form=form %}

    <button type="submit" class="btn btn-primary">Save</button>
  </form>

  <form method="POST" id="modalFormDelete" class="post-form" action="{{ delete_url }}">
    {% csrf_token %}

    <ul>
      {% for test in test_list %}
      <li>
        <a href="#">{{ test.description }}</a>
      </li>
      {% endfor %}
    </ul>
  </form>

</div>
{% endblock main %}