.datepicker {
  height: 2.3rem;

  &:hover .calendar {
    visibility: visible;
  }

  .calendar {
    visibility: visible;
    background-color: #FFF;

    tr {
      td {
        height: 30px;
        width: 30px;
        text-align: center;
        border: none;
        border-radius: 4px;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #EEE;
        }
      }
    }
  }

  .calendar:before,
  .calendar:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 15px;
    border: 7px outset transparent;
  }

  // .calendar:before {
  //   border-bottom: 7px solid #555;
  //   top: -14px;
  // }

  // .calendar:after {
  //   border-bottom: 7px solid #EEF3FE;
  //   top: -12px;
  // }

}

// .user {
//   position: relative;
//   height: 32px;
//   padding: 8px 12px 8px 8px;
//   display: inline-block;
//   vertical-align: baseline;
//   zoom: 1;
//   *display: inline;
//   *vertical-align: auto;
// 
//   img {
//     float: left;
//     width: 32px;
//     height: 32px;
//     margin-right: 8px;
//   }
// 
//   h5 {
//     float: left;
//     line-height: 16px;
//     font-size: 12px;
//     font-weight: bold;
//     color: #fff;
//     text-shadow: 0 1px rgba(0, 0, 0, 0.4);
//   }
// 
//   h5 small {
//     display: block;
//     font-size: 9px;
//     font-weight: bold;
//     text-transform: uppercase;
//     color: rgba(0, 0, 0, 0.6);
//     text-shadow: 0 1px rgba(255, 255, 255, 0.3);
//     *color: #364168;
//   }
// 
//   &:hover ul {
//     visibility: visible;
//     opacity: 1;
//     padding: 4px 0 6px;
//   }
// 
//   ul {
//     visibility: hidden;
//     opacity: 0;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     right: 0;
//     border: 1px solid;
//     border-color: #777 #6c6c6c #666;
//     border-radius: 5px;
//     -webkit-transition-property: opacity, padding, visibility;
//     -moz-transition-property: opacity, padding, visibility;
//     -ms-transition-property: opacity, padding, visibility;
//     -o-transition-property: opacity, padding, visibility;
//     transition-property: opacity, padding, visibility;
//     -webkit-transition: 0.2s ease-out;
//     -moz-transition: 0.2s ease-out;
//     -ms-transition: 0.2s ease-out;
//     -o-transition: 0.2s ease-out;
//     transition: 0.2s ease-out;
//     background-color: #d9e3fa;
//     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eef3fe), color-stop(100%, #d9e3fa));
//     background-image: -webkit-linear-gradient(top, #eef3fe, #d9e3fa);
//     background-image: -moz-linear-gradient(top, #eef3fe, #d9e3fa);
//     background-image: -ms-linear-gradient(top, #eef3fe, #d9e3fa);
//     background-image: -o-linear-gradient(top, #eef3fe, #d9e3fa);
//     background-image: linear-gradient(top, #eef3fe, #d9e3fa);
//     -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
//     box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
//   }
// 
//   ul:before,
//   ul:after {
//     display: block;
//     content: '';
//     width: 0;
//     height: 0;
//     position: absolute;
//     left: 15px;
//     border: 7px outset transparent;
//   }
// 
//   ul:before {
//     border-bottom: 7px solid #555;
//     top: -14px;
//   }
// 
//   ul:after {
//     border-bottom: 7px solid #EEF3FE;
//     top: -12px;
//   }
// }