@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// $sidebar-bg-color: #7386d5;
// $sidebar-bg-color-light: #8396ec;
// $sidebar-bg-color-dark: #6b7bbb;

// $sidebar-bg-color: #58a094;
// $sidebar-bg-color-light: #69a99d;
// $sidebar-bg-color-dark: #50988C;

$sidebar-bg-color: #555F63;
$sidebar-bg-color-light: #656F73;
$sidebar-bg-color-dark: #50988C;

$sidebar-width: 250px;
$sidebar-width-reduce: 60px;
$sidebar-max-width-reduce: 1280px;

$content-font-size: 0.75rem;
$form-control-font-size: 0.9rem;

@mixin hide-text() {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  font-family: 'Roboto', sans-serif;
}

.content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  font-size: $content-font-size;

  .form-control {
    font-size: $form-control-font-size;
  }
}

.sidebar {
  @media (max-width: $sidebar-max-width-reduce) {
    min-width: $sidebar-width-reduce;
    max-width: $sidebar-width-reduce;
  }

  list-style: none;
  padding: 0;
  margin: 0;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: $sidebar-bg-color;
  color: #fff;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;

  @media (max-width: $sidebar-max-width-reduce) {
    padding: 45px 0px 45px 0px;
  }

  i:hover {
    color: #eccb10;
  }
}

.sidebar-item {
  display: flex;
  align-items: center;
  min-height: 48px;
  border-radius: 8px;
  margin: 0px 20px 4px 20px;
  background-color: $sidebar-bg-color;

  @media (max-width: $sidebar-max-width-reduce) {
    margin: 0px 0px 4px 0px;
  }

  &:hover {
    background-color: $sidebar-bg-color-light;
    cursor: pointer;

    a {
      text-decoration: none;
    }

    i {
      color: #eccb10;
    }
  }

  a {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 100%;
    width: 100%;
    color: #FFF;
    /* border: solid black; */
  }

  i {
    color: #DDD;
    margin-right: 12px;
  }

  p {
    margin: 0;

    @media (max-width: $sidebar-max-width-reduce) {
      @include hide-text;
    }
  }

  &.active {
    background-color: $sidebar-bg-color-light;

    a {
      color: #fff;
    }

    i {
      color: #eccb10;
    }
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr.table-item-link {
  cursor: pointer;
}

tr.table-item-link:hover {
  background-color: #eee;
}

td del {
  color: gray;
}

#filter {
  display: block;
  align-items: center;
}