// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

// $sidebar-bg-color: #7386d5;
// $sidebar-bg-color-light: #8396ec;
// $sidebar-bg-color-dark: #6b7bbb;
// $sidebar-icon-color: #FFF;

// $sidebar-bg-color: #58a094;
// $sidebar-bg-color-light: #69a99d;
// $sidebar-bg-color-dark: #50988C;
// $sidebar-icon-color: #FFF;

$sidebar-bg-color: #555F63;
$sidebar-bg-color-light: #656F73;
$sidebar-bg-color-dark: #50988C;
$sidebar-icon-color: #FFF;

$sidebar-width: 250px;
$sidebar-width-reduce: 60px;
$sidebar-max-width-reduce: 1280px;

$bg-color: #EEE;

// $font-family: 'Roboto';
$font-family: 'Helvetica Neue';

// $content-font-size: 0.75rem;
$content-font-size: 1rem;
// $form-control-font-size: 0.9rem;
$form-control-font-size: 1rem;

@mixin hide-text() {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  letter-spacing: 0.010rem;
  font-family: $font-family, sans-serif;
  background-color: $bg-color;

  .bold {
    font-weight: bold;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  font-size: $content-font-size;

  .form-control {
    font-size: $form-control-font-size;
  }
}

.sidebar {
  @media (max-width: $sidebar-max-width-reduce) {
    min-width: $sidebar-width-reduce;
    max-width: $sidebar-width-reduce;
  }

  list-style: none;
  padding: 0;
  margin: 0;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: $sidebar-bg-color;
  color: $sidebar-icon-color;
  font-size: 1.2rem;

  svg {
    font-size: 18px;
  }
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;

  @media (max-width: $sidebar-max-width-reduce) {
    padding: 45px 0px 45px 0px;
  }

  svg {
    font-size: 50px;
  }

  svg:hover {
    color: #eccb10;
  }
}

.sidebar-item {
  display: flex;
  align-items: center;
  min-height: 48px;
  border-radius: 8px;
  margin: 0px 20px 4px 20px;
  background-color: $sidebar-bg-color;

  @media (max-width: $sidebar-max-width-reduce) {
    margin: 0px 0px 4px 0px;
  }

  &:hover {
    background-color: $sidebar-bg-color-light;
    cursor: pointer;

    a {
      text-decoration: none;
    }

    svg {
      color: #eccb10;
    }
  }

  .sidebar-item-button {
    display: flex;
    align-items: center;
    margin-left: 19px;
    height: 100%;
    width: 100%;
    color: #FFF;
    /* border: solid black; */
  }

  svg {
    color: $sidebar-icon-color;
    margin-right: 12px;
  }

  p {
    margin: 0;

    @media (max-width: $sidebar-max-width-reduce) {
      @include hide-text;
    }
  }

  &.active {
    background-color: $sidebar-bg-color-light;

    a {
      color: #fff;
    }

    svg {
      color: #eccb10;
    }
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-item-link {
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

th,
td {
  &.date {
    width: 7rem;
  }

  &.amount {
    $table-item-amount: 7.7rem;
    min-width: $table-item-amount;
    width: $table-item-amount;

    &.positive {
      color: green;
    }

    &.negative {
      color: red;
    }
  }
}

td del {
  color: gray;
}

#filter {
  display: flex;

  div {
    display: flex;
    justify-content: center;
    margin-top: 2px;

    button {
      margin-left: 3px;
    }
  }

  label {
    max-width: 4rem;
  }

  // justify-content: center;
  // align-items: center;
}