:root {
  --sidebar-width: 250px;

  // --sidebar-bg-color: #7386d5;
  // --sidebar-bg-color-light: #8396ec;
  // --sidebar-bg-color-dark: #6b7bbb;

  // --sidebar-bg-color: #58a094;
  // --sidebar-bg-color-light: #69a99d;
  // --sidebar-bg-color-dark: #50988C;

  --sidebar-bg-color: #555F63;
  --sidebar-bg-color-light: #656F73;
  --sidebar-bg-color-dark: #50988C;

}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--sidebar-bg-color);
  color: #fff;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
  /* background-color: var(--sidebar-bg-color); */
  /* display: flex; */
  /* align-items: "space-between"; */
}

.sidebar-item {
  display: flex;
  align-items: center;
  min-height: 48px;
  border-radius: 8px;
  margin: 0px 20px 4px 20px;
  background-color: var(--sidebar-bg-color);
}

.sidebar-item a {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 100%;
  width: 100%;
  color: #FFF;
  /* border: solid black; */
}

.sidebar-item i {
  color: #DDD;
  margin-right: 12px;
}

.sidebar-item p {
  margin: 0;
}

.sidebar-item.active {
  background-color: var(--sidebar-bg-color-light);
}

.sidebar-item.active a {
  color: #fff;
}

.sidebar-header i:hover,
.sidebar-item:hover i,
.sidebar-item.active i {
  color: #eccb10;
}

.sidebar-item:hover {
  background-color: var(--sidebar-bg-color-light);
  cursor: pointer;
}

.sidebar-item:hover a {
  text-decoration: none;
}

tr.table-item-link {
  cursor: pointer;
}

tr.table-item-link:hover {
  background-color: #eee;
}