$sidebar-bg-color: #7386d5;
$sidebar-bg-color-light: #8396ec;
$sidebar-bg-color-dark: #6b7bbb;

// $sidebar-bg-color: #58a094;
// $sidebar-bg-color-light: #69a99d;
// $sidebar-bg-color-dark: #50988C;

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.sidebar {
  $sidebar-width: 300px;

  min-width: $sidebar-width;
  max-width: $sidebar-width;
  background-color: $sidebar-bg-color;
  /* border-bottom-right-radius: 40px; */
  color: #fff;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
  /* background-color: $sidebar-bg-color; */
  /* display: flex; */
  /* align-items: "space-between"; */
}

.sidebar-item {
  display: flex;
  align-items: center;
  min-height: 70px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  background-color: $sidebar-bg-color;

  a {
    display: flex;
    align-items: center;
    margin-left: 25px;
    height: 100%;
    width: 100%;
    color: #DDD;
    /* border: solid black; */
  }

  i {
    margin-right: 12px;
  }

  p {
    margin: 0;
  }

  &.active {
    background-color: $sidebar-bg-color-light;

    a {
      color: #fff;
    }
  }

  &:hover {
    background-color: $sidebar-bg-color-light;
    cursor: pointer;
  }
}


tr.table-item-link {
  cursor: pointer;
}

tr.table-item-link:hover {
  background-color: #eee;
}